body {

    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

ul,
ol,
li {
    list-style: none;

}

img{
    display: flex;
    
}

.perfis img{
    margin: 10px;
}

.logo {
    margin: 0 auto;
    width: 15%;
    height: 250px;
   

}

.color {
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: -20px;
    letter-spacing: 1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}


ul {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.perfis {
    color: white;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.perfis img:hover {

    border: 3px solid white;
    border-radius: 5px;
  

}

.botao {

    
    display: flex;
    flex-direction: column;
    align-items: center;


}
.botao-style{
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-top: 60px;
    font-size: 17px;
    margin-left: 40px;
    margin-bottom: 100px;
}

.botao-style:hover {
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    color: black;

}

.footer{
 color: white;
 text-align: center;
 margin-left: 40px;
 font-size: 13px;
}
