body {
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

ul,
ol,
li {
    list-style: none;
    background-color: black;
}

.perfis img {
    border-radius: 8px;
    border: 1.5px solid transparent;
    margin: 10px;
    background-color: black;
}

.logo {
    margin: 0 auto;
    margin-top: -50px;
    width: 20%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.color {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -60px;
    letter-spacing: 1px;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: black;
}


ul {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    background-color: black;
}

.perfis {
    color: white;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    background-color: black;
}
.perfis img {
    border: 3px solid black;
}

.perfis img:hover {
    border: 3px solid white;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.botao-style {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-top: 60px;
    font-size: 17px;
    margin-left: 40px;
    margin-bottom: 80px;
}

.botao-style:hover {
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.footer {
    color: white;
    text-align: center;
    margin-left: 40px;
    font-size: 13px;
    background-color: black;
}